<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    
    <properties>
        <property name="CUSTOM_LOG_FOLDER">${sys:user.home}/.user/log</property>
        <property name="CUSTOM_LAYOUT_PATTERN">[%-5p] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l %n%m%n%n</property>
    </properties>
    
    <Appenders>
        
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
        </Console>
        
        <RollingFile name="allFileAppender" fileName="${CUSTOM_LOG_FOLDER}/all.log"
                     filePattern="${CUSTOM_LOG_FOLDER}/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        
        <RollingFile name="debugFileAppender"
                     fileName="${CUSTOM_LOG_FOLDER}/debug.log"
                     filePattern="${CUSTOM_LOG_FOLDER}/$${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        
        <RollingFile name="infoFileAppender"
                     fileName="${CUSTOM_LOG_FOLDER}/info.log"
                     filePattern="${CUSTOM_LOG_FOLDER}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--<DefaultRolloverStrategy max="100"/>-->
            </Policies>
        </RollingFile>
        
        <RollingFile name="warnFileAppender"
                     fileName="${CUSTOM_LOG_FOLDER}/warn.log"
                     filePattern="${CUSTOM_LOG_FOLDER}/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        
        <RollingFile name="errorFileAppender"
                     fileName="${CUSTOM_LOG_FOLDER}/error.log"
                     filePattern="${CUSTOM_LOG_FOLDER}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>${CUSTOM_LAYOUT_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <!--<OnStartupTriggeringPolicy/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        
        <!-- 这个就是自定义的Appender -->
        <Log4jAppender name="customLogger">
        
        </Log4jAppender>
    
    </Appenders>
    
    <Loggers>
        <!-- 根日志设置 -->
        <Root level="debug">
            <AppenderRef ref="consoleAppender" level="debug"/>
            <AppenderRef ref="customLogger" level="debug"/>
            
            <AppenderRef ref="allFileAppender" level="all"/>
            <AppenderRef ref="debugFileAppender" level="debug"/>
            <AppenderRef ref="infoFileAppender" level="info"/>
            <AppenderRef ref="warnFileAppender" level="warn"/>
            <AppenderRef ref="errorFileAppender" level="error"/>
        </Root>
        
        <!--druid-->
        <Logger name="druid.sql.Statement" level="ERROR"/>
        <!-- netty -->
        <Logger name="io.netty" level="error"/>
        <!-- apache -->
        <Logger name="org.apache" level="error"/>
        <!-- quartz -->
        <Logger name="org.quartz" level="error"/>
        <!--spring-->
        <Logger name="org.springframework" level="ERROR"/>
        <!-- mybatis -->
        <Logger name="com.mybatis" level="ERROR"/>
        <Logger name="org.hibernate" level="ERROR"/>
        <Logger name="org.hibernate.sql" level="ERROR"/>
        <Logger name="com.zaxxer.hikari" level="ERROR"/>
        <Logger name="com.andya.demo" level="ERROR"/>
    </Loggers>

</Configuration>
