<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%-5p] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %m%n%n</Pattern>
        </layout>
    </appender>

    <!--    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>${USER_HOME}/.user/log/info.log</file>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--            <maxHistory>30</maxHistory>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>[%-5p] [%d{yyyy-MM-dd HH:mm:ss.SSS}] %m%n%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <logger level="debug" additivity="false">-->
    <!--        <appender-ref ref="CONSOLE"/>-->
    <!--    </logger>-->

    <logger name="io.netty" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ch.qos.logback" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.quartz" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.apache" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.sql" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
